.header {
    background-image: url("./images/zombg.png");
    margin-top: -3%;
    width: 100%;
    height: 550px;
    color: #ffffff;
    position: absolute;
    margin-left: 0.45%;
}

nav {
    margin-top: 6%;
    font-weight: 700;
}

.getapp {
    margin-top: -1.3%;
    margin-left: 5%;
    position: absolute;
}

.getapp a {
    text-decoration: none;
    color: #ffffff;
    list-style: none;
    font-size: large;
}

nav ul {
    list-style: none;
    margin-left: 50%;
    width: 700px;
}

nav ul li {
    display: inline;
    justify-content: space-between;
    padding: 5%;
    font-size: large;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.zomato {
    margin-left: 40%;
    font-size: 40px;
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.zomcon {
    margin-left: 28%;
    margin-top: -2%;
    font-size: xx-large;
}

.zominput {
    margin-left: 28%;
}

.zominput input {
    width: 645px;
    height: 60px;
    border-radius: 15px;
    border: white;
}

.zominput input::placeholder {
    font-size: large;
}

.order {
    margin-top: 38%;
    margin-left: 10%;
    position: absolute;
    border: 1px solid black;
    border-radius: 25px;
}

.orderimg img {
    height: 150px;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    border: 1px solid black;
}

.order p {
    margin-top: -5%;
    margin-left: 1%;
}

.order h2 {
    margin-top: 1%;
    margin-left: 1%;
}


/*dining*/

.diningimg img {
    height: 150px;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    border: 1px solid black;
}

.dining p {
    margin-top: -5%;
    margin-left: 1%;
}

.dining h2 {
    margin-top: 1%;
    margin-left: 1%;
}

.dining {
    margin-top: 38%;
    position: absolute;
    margin-left: 56%;
    border: 1px solid black;
    border-radius: 25px;
}

.page2 {
    margin-top: 60%;
    margin-left: 5%;
    position: absolute;
}