.header {
    background-image: url("./images/zombg.png");
    margin-top: -3%;
    width: 100%;
    height: 550px;
    color: #ffffff;
    position: absolute;
    margin-left: 0.45%;
}

nav {
    margin-top: 6%;
    font-weight: 700;
}

.getapp {
    margin-top: -1.3%;
    margin-left: 5%;
    position: absolute;
}

.getapp a {
    text-decoration: none;
    color: #ffffff;
    list-style: none;
    font-size: large;
}

nav ul {
    list-style: none;
    margin-left: 50%;
    width: 700px;
}

nav ul li {
    display: inline;
    justify-content: space-between;
    padding: 5%;
    font-size: large;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.zomato {
    margin-left: 38%;
    font-size: 40px;
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.zomcon {
    margin-left: 28%;
    margin-top: -2%;
    font-size: xx-large;
}

.zominput {
    margin-left: 28%;
}

.zominput input {
    width: 645px;
    height: 60px;
    border-radius: 15px;
    border: white;
}

.zominput input::placeholder {
    font-size: large;
}

.order {
    margin-top: 38%;
    margin-left: 10%;
    position: absolute;
    border: 1px solid black;
    border-radius: 25px;
}

.orderimg img {
    height: 150px;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    border: 1px solid black;
}

.order p {
    margin-top: -5%;
    margin-left: 1%;
}

.order h2 {
    margin-top: 1%;
    margin-left: 1%;
}


/*dining*/

.diningimg img {
    height: 150px;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    border: 1px solid black;
}

.dining p {
    margin-top: -5%;
    margin-left: 1%;
}

.dining h2 {
    margin-top: 1%;
    margin-left: 1%;
}

.dining {
    margin-top: 38%;
    position: absolute;
    margin-left: 56%;
    border: 1px solid black;
    border-radius: 25px;
}


/*page2*/

.page2 {
    margin-top: 65%;
    margin-left: 7%;
    position: absolute;
    width: 100%;
}

.seplink {
    margin-left: 10%;
    color: rgb(255, 128, 0);
}

.collection {
    position: absolute;
    margin-top: 2%;
    display: inline-flex;
}

.grtcafe {
    height: 300px;
    width: 250px;
}

.grtcafe img {
    height: 300px;
    width: 250px;
    border-radius: 25px;
}

.bliss {
    height: 300px;
    width: 250px;
    margin-left: 5%;
}

.bliss img {
    height: 300px;
    width: 250px;
    border-radius: 25px;
}

.Premium {
    height: 300px;
    width: 250px;
    margin-left: 5%;
}

.Premium img {
    height: 300px;
    width: 250px;
    border-radius: 25px;
}

.luxury {
    height: 300px;
    width: 250px;
    margin-left: 5%;
}

.luxury img {
    height: 300px;
    width: 250px;
    border-radius: 25px;
}

.grtcon,
.blisscon,
.precon,
.luxcon {
    color: #ffffff;
    margin-top: -40%;
    margin-left: 2%;
}


/*locations*/

.location {
    margin-top: 30%;
}

.titleloc h1 {
    font-weight: 500;
    font-size: 40px;
}

.sepbold {
    font-weight: bold;
}